### Vectors

A vector is an ordered collection of basic data types of a given length. The only key thing here all elements are same type i.e homogenous. Vectors are 1d data structure.

In [ ]:
#creating vector
x <- c(1:9)
ch <- c('A','B','C','D')
logic <- c(TRUE,FALSE)
comp <- c(2+1i,3+2i,1i)
print(x)
print(ch)
print(logic)
print(comp)

[1] 1 2 3 4 5 6 7 8 9
[1] "A" "B" "C" "D"
[1]  TRUE FALSE
[1] 2+1i 3+2i 0+1i

In [ ]:
#2nd element of all vectors
print(x[2])
print(ch[2])
print(logic[2])
print(comp[2])

[1] 2
[1] "B"
[1] FALSE
[1] 3+2i

### Matrix

A matrix is a rectangle arrangemet of numbers in rows and columns. Matrices are 2d homogeneous data structures.

In [ ]:
m = matrix(1:20,nrow = 4,byrow = TRUE)
print(m)

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    2    3    4    5
[2,]    6    7    8    9   10
[3,]   11   12   13   14   15
[4,]   16   17   18   19   20

In [ ]:
#Finding (2,5) possion in the matrix
m[2,5]

[1] 10

In [ ]:
#Printing the 3rd row
print(m[3,])

[1] 11 12 13 14 15

In [ ]:
#Printing the 4th col
print(m[,4])

[1]  4  9 14 19

###List

A list is a generic object consisting of an ordered collection of objects. List are heterogeneous data structures. It is also a 1d data structures and it can be a list of vector , list of matrices , list of characters etc.

In [ ]:
x = c(1:5)
y = c('01','02','03','04')
z = 10
creating_list = list(x,y,z)
print(creating_list)

[[1]]
[1] 1 2 3 4 5

[[2]]
[1] "01" "02" "03" "04"

[[3]]
[1] 10

In [ ]:
#accessing 2 in x
creating_list[[1]][2]

[1] 2

In [ ]:
#accessing y
print(creating_list[[2]])

[1] "01" "02" "03" "04"

### Array

Arrays are the R data objects which store the data in more than 2d. Arrays are n-dim data structures.

In [ ]:
dim1 = c('1st','2nd')
dim2 = c('ob1','ob2')
dim3 = c('IN','DI','A')
arr = array(c(1.5:12.5),c(2,2,3),dimnames = list(dim1,dim2,dim3))
print(arr)

, , IN

    ob1 ob2
1st 1.5 3.5
2nd 2.5 4.5

, , DI

    ob1 ob2
1st 5.5 7.5
2nd 6.5 8.5

, , A

     ob1  ob2
1st  9.5 11.5
2nd 10.5 12.5

In [ ]:
#printing from di 2nd ob2
arr[2,2,2]

[1] 8.5

In [ ]:
#printing matrix
print('matrix DI')
print(arr[,,'DI'])

[1] "matrix DI"
    ob1 ob2
1st 5.5 7.5
2nd 6.5 8.5

In [ ]:
#alter method
print('matrix DI ')
print(arr[,,2])

[1] "matrix DI "
    ob1 ob2
1st 5.5 7.5
2nd 6.5 8.5

In [ ]:
#printing row
print('matrix DI 1st row')
print(arr['1st',,'DI'])

[1] "matrix DI 1st row"
ob1 ob2
5.5 7.5

In [ ]:
#alter method
print('matrix DI 1st row')
print(arr[1,,2])

[1] "matrix DI 1st row"
ob1 ob2
5.5 7.5

In [ ]:
#for col
print('matrix A col2')
print(arr[,2,3])

[1] "matrix A col2"
 1st  2nd
11.5 12.5

In [ ]:
#1st row of all matrix
print(arr[1,,])

     IN  DI    A
ob1 1.5 5.5  9.5
ob2 3.5 7.5 11.5

In [ ]:
#1st col of all matrix
print(arr[,1,])

     IN  DI    A
1st 1.5 5.5  9.5
2nd 2.5 6.5 10.5

###Data frame

Data frame are generic data objects in R which are store tabular data.
They are 2d , hetrogeneous data structures.

In [ ]:
Roll = c('01','02','03','04','05','06','07','08','09','10')
Gender = c('M','M','M','M','M','F','M','M','M','M')
Degree = c('Btech','Msc','Msc','Btech','Btech','Msc','Btech','Msc','Btech','Btech')
Exp = c("no","no","no","no","no","no","yes","no","no","yes")
CA =c(12,13,14,12,14,12,13,14,15,15)

mtech_or = data.frame(Roll,Gender,Degree,Exp,CA)
print(mtech_or)

   Roll Gender Degree Exp CA
1    01      M  Btech  no 12
2    02      M    Msc  no 13
3    03      M    Msc  no 14
4    04      M  Btech  no 12
5    05      M  Btech  no 14
6    06      F    Msc  no 12
7    07      M  Btech yes 13
8    08      M    Msc  no 14
9    09      M  Btech  no 15
10   10      M  Btech yes 15

In [ ]:
#printing a pertcular roll data
print(mtech_or[5,])

  Roll Gender Degree Exp CA
5   05      M  Btech  no 14

In [ ]:
#printing 3 perticular row
print(mtech_or[c(2,3,4),])

  Roll Gender Degree Exp CA
2   02      M    Msc  no 13
3   03      M    Msc  no 14
4   04      M  Btech  no 12

In [ ]:
#frequency table
table1 = table(mtech_or$Gender,mtech_or$Degree)
print(table1)

    Btech Msc
  F     0   1
  M     6   3

In [ ]:
summary(mtech_or)

     Roll              Gender             Degree              Exp
 Length:10          Length:10          Length:10          Length:10
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



       CA
 Min.   :12.00
 1st Qu.:12.25
 Median :13.50
 Mean   :13.40
 3rd Qu.:14.00
 Max.   :15.00

### Factors

Factors are the data objects which are used to categorize data and store it as levels. They are useful in case of storing categorical data. They are useful to categorize unique values in columns like 'TRUE' or 'FALSE', or 'MALE' or 'FEMALE' etc. Useful for data analysis.

In [ ]:
fac = factor(c('F','M','M','F','M','F','M','M','M','F'))
print(fac)

 [1] F M M F M F M M M F
Levels: F M

In [ ]:
class(fac)

[1] "factor"

In [ ]:
#accessing 1 to 5
print(fac[1:5])

[1] F M M F M
Levels: F M

In [ ]:
salaryinL = c(25:34)
gender = c('F','M','M','F','M','F','M','M','M','F')

df = data.frame(salaryinL,gender)
print(df)
print(is.factor(df$gender))

   salaryinL gender
1         25      F
2         26      M
3         27      M
4         28      F
5         29      M
6         30      F
7         31      M
8         32      M
9         33      M
10        34      F
[1] FALSE